@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body {
  margin: 0;
  padding: 0;
  width: 300px;
  height: 200px;
  background-color: #b5adee;
}

#logo-area {
  background-color: #111f49;
}

#logo {
  display: block;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-family: 'Lobster Two', cursive;
  color:#111f49;
}